<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" [routerLink]="['/home']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target=blank [routerLink]="['/chart']">Charts</a>
  </li>
</ul>
