<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1">Events</span>
  </div>

  <input #keyword type="text" class="form-control" placeholder="Username" aria-label="Username"
         aria-describedby="basic-addon1">
  <button type="button" class="btn btn-primary" (click)=serchForEvents(keyword.value)>Search</button>
</div>

<div class="row">
  <div class="col-sm-6" *ngFor="let item of eventsList">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item['summary']}}</h5>
        <p class="card-text">{{item['start']}}</p>
        <button type="button" class="btn btn-primary" (click)=sendEvent(item)>Add Event</button>
      </div>
    </div>
  </div>
</div>
