<div class="row" style="justify-content: center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        Event Details
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <p>Price $1000.00</p>
        <a href="#" class="btn btn-primary">Buy</a>
      </div>
    </div>

  </div>
</div>
